body {
  background: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.panel-title {
  color: #1976D2;
}

.badge {
  background: #26A69A;
  color: #FFFFFF;
}

.tab-pane .panel {
  border-top: 0 none;
}

.tab-pane iframe {
  width: 100%;
  height: 480px;
}

#detail-map {
  width: 100%;
  height: 480px;
}

#surroundings-map, #street-view-container {
  height: 480px;
}

.list-group.surroundings-map-controls {
  border: none;
}

.surroundings-map-controls {
  height: 480px;
}

.surroundings-map-controls .list-group-item{
  border-left: none;
}

.surroundings-map-controls .list-group-item:last-of-type{
  border-bottom: none;
}

.surroundings-map-controls .panel-body {
  height: 300px;
  overflow-y: auto;
}

#clone {
  color: #F44336;
  font-size: 2em;
}

.glyphicon {
  color: #00838F;
}

.tagline {
  font-size: 150%;
}

* {
  border-radius: 0 !important;
}

/***********************
  SHARP BUTTONS
************************/
.sharp {
  border-radius: 0;
}

/***********************
  CUSTOM BTN VALUES
************************/

.btn-pink {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #F44336 none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #009688;
}

.x {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
  background: #009688;
  color: #FFFFFF;

}

.list-group {
  padding: 0 1px;
  border: 0 none;
  font-weight: 300;
  letter-spacing: 1px;
}

.panel.noborder {
  box-shadow: none;
}

.panel.noborder > .panel-heading {
  border: 1px solid #dddddd;
  border-radius: 0;
}

.panel-borderless {
  border: 0;
  box-shadow: none;
}

.rating {
  color: #26A69A;
}
.crime{
  color: #F44336;
}

.carousel-inner {
  background-position: center;
  background-size: cover;
  max-height: 400px;
}

.item img {
  width: 100%;
  height: 200px;
}

#survey_button {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  visibility: hidden;
}

.noborder {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.btn-info {
  height: 44px;
}

.panel-heading {
  background: #9E9E9E;
  margin-bottom: 15px;
}

.navbar-form {
  width: auto;

}

.shadows {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.collapsed, a.collapsed:hover, a.collapsed:focus {
  text-decoration: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #f5f5f5;
  padding: 10px;
}

.truncate {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spot-icon {
  height: 1em;
  width: 1em;
}

.search-results-list {
  height: 450px;
  overflow-y: auto;
}

#search-map {
  height: 450px;
  width: 100%;
}

.navbar-toolbar {
  z-index: 9999;
  background-color: #fff;
  border-color: #ebebeb;
}

.navbar-toolbar-nav > li > a {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.navbar-toolbar {
  min-height:28px !important;
}

.navbar-toolbar.affix {
  left:0;
  top: 0;
  width:100%;
  z-index: 9999;
}

.navbar .nav > li > a {
  float: none;
  text-decoration: none;
  color:dimgrey;
}

.navbar-brand {
  color:dimgrey;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  background-color: #FFFFFF;
  color: #F44336;
}

.navbar-brand:hover, .navbar-brand:focus {
  background-color: #FFFFFF;
  color: #F44336;
}

.btn-danger{
  background: #F44336;
}
.fa-heart, .glyphicon-share{
  color: #F44336;
}
.input-group-btn{
  background: #FFFFFF;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.red {
  color: #F44336;
}
