<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="text-muted">&copy; Surreal 2017</p>
      </div>
    </div>
  </div>
</footer>