<nav class="navbar navbar-toolbar" data-spy="affix" data-offset-top="81">
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-toolbar-nav">
        <li><a href="#" class="btn btn-danger">Request more info</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-toolbar-nav navbar-right">
        <li><a href="#" class="btn btn-default">Calculate Mortgage</a></li>
        <li>
          <a href="#" class="btn btn-default">
            <span class="text-primary">
              <i class="fa fa-heart" aria-hidden="true"></i>
              Save
          </span>
          </a>
        </li>
        <li><a href="#" class="btn btn-default">Share</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>