<% unless @listings.empty? %>
    <div class="row">
      <div class="col-md-12">
        <h4>Other listings in this area</h4>
      </div>
    </div>

    <div class="row">
      <% @listings.each do |listing| %>
          <div class="col-sm-3 col-md-3">
            <li class="thumbnail">

              <%= link_to listing do %>
                  <%= cl_image_tag(listing.sale_photo_attachments.first.photo.full_public_id, class: 'img-responsive',
                                   :height => 150, :width => 250, :crop => 'fill', :secure=>true) %>
              <% end %>

              <div class="caption">
                <p>
                  <%= "GHC #{listing.price}, #{listing.address}" %>
                </p>
              </div>
            </li>
          </div>
      <% end %>
    </div>
<% end %>

