<% unless @listings.empty? %>
    <div class="row">
      <div class="col-md-12">
        <h4>Other listings in this area</h4>
      </div>
    </div>

    <div class="row">
      <% @listings.each do |listing| %>
          <div class="col-sm-3 col-md-3">
            <li class="thumbnail">

              <%= link_to listing do %>
                  <%= cl_image_tag(listing.sale_photo_attachments.first.photo.full_public_id, class: 'img-responsive',
                                   :height => 270, :width => 450, :crop => 'fill', :secure=>true) %>
              <% end %>

              <div class="caption">
                <p>
                  <strong><%= "GHC #{money_without_cents_and_with_symbol listing.price}" %></strong>
                  <span class="pull-right small">
                      <i class="glyphicon glyphicon-star"></i>
                      <i class="glyphicon glyphicon-star"></i>
                      <i class="glyphicon glyphicon-star"></i>
                      <i class="glyphicon glyphicon-star"></i>
                    </span>
                </p>
                <p class="truncate">
                  <%= listing.listing_name %>
                </p>
              </div>
            </li>
          </div>
      <% end %>
    </div>
<% end %>

