<form action="/sale_search" autocomplete="off" method="get" name="search" accept-charset="utf-8">

  <div class="form-group">
    <label class="sr-only" for="location">Location</label>
    <div class="input-group input-group-lg">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          For Sale <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">For Sale</a></li>
          <li><a href="#">For Rent</a></li>
        </ul>
      </div>
      <input type="text" class="form-control" name="location" id="location" placeholder="Location">
      <div class="input-group-btn">
        <button class="btn btn-default" type="button" id="dLabel" data-toggle="collapse" href="#expandedForm" aria-expanded="false" aria-controls="expandedForm">
          More
          <span class="caret"></span>
        </button>

        <button type="submit" class="btn btn-danger">Search</button>
      </div>
    </div>
  </div>

  <div class="collapse" id="expandedForm">
    <div class="row">
      <div class="form-group col-sm-2">
        <label class="sr-only" for="cost-min">Cost Min</label>
        <input type="number" min="0" class="form-control" name="cost_min" id="cost-min" placeholder="Cost Min">
      </div>

      <div class="form-group col-sm-2">
        <label class="sr-only" for="cost-min">Cost Max</label>
        <input type="number" min="0" class="form-control" name="cost_max" id="cost-max" placeholder="Cost Max">
      </div>

      <div class="form-group col-sm-2">
        <label class="sr-only" for="bedrooms">Bedrooms</label>
        <input type="number" min="0" class="form-control" name="bedrooms" id="bedrooms" placeholder="Bedrooms">
      </div>

      <div class="form-group col-sm-3">
        <label class="sr-only" for="category">Category</label>
        <select class="form-control" name="category" id="category">
          <option value="">Category</option>
          <option value="apartment">Apartment</option>
          <option value="semi_detached">Semi-Detached</option>
          <option value="hostel">Hostel</option>
          <option value="house">House</option>
          <option value="condo">Condo</option>
          <option value="townhome">Townhome</option>
          <option value="multi_family">Multi-Family</option>
          <option value="land">Land</option>
          <option value="mobile_or_manufactured">Mobile/Manufactured</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div class="form-group col-sm-3">
        <label class="sr-only" for="architecture">Architecture</label>
        <select class="form-control" name="architecture" id="architecture">
          <option value="">Architecture</option>
          <option value="colonial">Colonial</option>
          <option value="contemporary">Contemporary</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div class="form-group col-sm-12">
        <label class="sr-only" for="keywords">Keywords</label>
        <input type="text" class="form-control" name="keywords" id="keywords" placeholder="Keywords, eg. Pool, parking, cctv">
      </div>

      <div class="form-group col-sm-3">
        <label class="sr-only" for="lot-size-min">Min lot size</label>
        <input type="number" min="0" class="form-control" name="lot_size_min" id="lot-size-min" placeholder="Min lot size">
      </div>

      <div class="form-group col-sm-3">
        <label class="sr-only" for="lot-size-min">Max lot size</label>
        <input type="number" min="0" class="form-control" name="lot_size_max" id="lot-size-max" placeholder="Max lot size">
      </div>

      <div class="form-group col-sm-3">
        <label class="sr-only" for="min-yr-built">Min year built</label>
        <input type="number" min="0" class="form-control" name="min_yr_built" id="min-yr-built" placeholder="Min year built">
      </div>

      <div class="form-group col-sm-3">
        <label class="sr-only" for="max-yr-built">Max year built</label>
        <input type="number" min="0" class="form-control" name="max_yr_built" id="max-yr-built" placeholder="Max year built">
      </div>
    </div>
    <hr>
  </div>

</form>
