<nav class="navbar sticky-top">
    <div class="paulette">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Surreal", root_path, class: "navbar-brand" %>
        </div>

        <form action="/search" autocomplete="off" class="navbar-form navbar-left" method="get" name="search" accept-charset="utf-8">
          <div class="form-group">
            <label class="sr-only" for="location">Location</label>
            <input type="text" class="form-control" name="location" id="location" placeholder="Location">
          </div>
          <div class="form-group">
            <label class="sr-only" for="property-type">Property Type</label>
            <select class="form-control" name="property_type" id="property-type">
              <option value="">Property type</option>
              <option value="apartment">Apartment</option>
              <option value="semi_detached">Semi-Detached</option>
              <option value="detached">Detached</option>
              <option value="hostel">Hostel</option>
            </select>
          </div>
          <div class="form-group">
            <label class="sr-only" for="bedrooms">Bedrooms</label>
            <select class="form-control" name="bedrooms" id="bedrooms">
              <option value="">Bedrooms</option>
              <option value="0">Any</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>

          <div class="form-group">
            <label class="sr-only" for="cost-min">Cost Min</label>
            <input type="number" class="form-control" name="cost_min" id="cost-min" placeholder="Cost Min">
            <label class="sr-only" for="cost-min">Cost Max</label>
            <input type="number" class="form-control" name="cost_max" id="cost-max" placeholder="Cost Max">
          </div>

          <button type="submit" class="btn btn-default">Search</button>
        </form>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </div>
  </nav>